.list_song_play_item {
  padding: 10px;
  cursor: pointer;

  .list_song_play_item_img {
    position: relative;
    @include sizeImage(40px, 40px);
    img {
      border-radius: 4px;
    }
    .overplay_song {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      .overplay_song__icon {
        @include CenterElement;
        height: 100%;
      }
    }
  }
  .list_song_play_item_des {
    @include text(15px, 600);
    .list_song_play_item_des_artist {
      @include text(12px, normal);
      &:hover {
        color: $puple-c662ef;
      }
    }
  }

  &:hover {
    background-color: $black-231b2e;
    border-radius: 4px;
    .overplay_song {
      display: block;
    }
  }
}
